<!-- <form id='add-restaurant' method='POST' action='/restaurants'>
	<input type='text' name='name'>
	<input type='text' name='cuisine'>
	<button type='submit'>Submit new restaurant</button>
</form> -->

<%= form_for :restaurant, url: restaurants_path do |restaurant| %>
	<p>
		<%= restaurant.label :name, id:'name' %><br>
		<%= restaurant.text_field :name, id:'name' %><br>
	</p>

	<p>
		<%= restaurant.label :cuisine, id:'cuisine' %><br>
		<%= restaurant.text_field :cuisine, id:'cuisine' %><br>
	</p>

	<p>
		<%= restaurant.submit :submit, id:'submit' %>
	</p>
<% end %>